# Pandas Aggregating Warmup

0. Do your work in whatever format you feel most comfortable with (notebook, repl, etc). Get the data from `the_data.csv` into a data frame (you can click the "Raw" button in the upper left corner to download the data).
1. Make sure `timestamp` is a datetime type and set it as the index.
1. Answer the questions below:

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('the_data.csv')
df.timestamp = pd.to_datetime(df.timestamp, format='%Y-%m-%d %H:%M:%S')
df = df.set_index('timestamp')
display(df.info())
display(df.head(5))
display(df.y.value_counts())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48 entries, 2018-04-30 00:00:00 to 2018-05-01 23:00:00
Data columns (total 2 columns):
x    48 non-null float64
y    48 non-null object
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

None

                        x  y
timestamp
2018-04-30 00:00:00  1.84  A
2018-04-30 01:00:00  1.47  C
2018-04-30 02:00:00  0.20  B
2018-04-30 03:00:00  0.17  C
2018-04-30 04:00:00  2.06  C

A    18
C    17
B    13
Name: y, dtype: int64

1. By Group

    - What is the maximum x value for group B?
    - What is the average x value for group A?
    - What is the minimum x value for group C?
    - Which group has the highest sum of x values?

In [19]:
df_agg=df.groupby(by=df.y).x.agg(['count','min','mean','max','sum','median'])
df_agg

   count   min      mean   max   sum  median
y
A     18 -1.30 -0.110556  1.84 -1.99   -0.08
B     13 -2.05 -0.053846  1.91 -0.70    0.20
C     17 -1.83  0.232353  2.06  3.95    0.28

In [21]:
print('Max of B is', df_agg.loc['B']['max'])
print('Mean A is', df_agg.loc['A']['mean'])
print('Min of C is', df_agg.loc['C']['min'])
print('Highest sum of values (', df_agg['sum'].max(), ') is in group',df_agg['sum'].idxmax())

Max of B is 1.91
Mean A is -0.11055555555555556
Min of C is -1.83
Highest sum of values ( 3.95 ) is in group C

2. Time Aggregates

    - What is the sum of the x values for 2018-05-01?
    - What is the average x value for each day? The median?
    - Which day has the largest x value?
    - Which day has the smallest x value for group C?

In [22]:
df.groupby(df.index.date).x.sum()

2018-04-30    5.28
2018-05-01   -4.02
Name: x, dtype: float64

In [23]:
df.groupby(df.index.date).x.sum()[0]

5.280000000000001

In [26]:
df.groupby(df.index.date).x.agg(['mean','median'])

              mean  median
2018-04-30  0.2200   0.175
2018-05-01 -0.1675   0.220

In [29]:
df.groupby(df.index.date).x.max().idxmax()

datetime.date(2018, 4, 30)

In [33]:
x=df.groupby(['y', df.index.date]).x.min()
x.C

2018-04-30   -1.07
2018-05-01   -1.83
Name: x, dtype: float64

In [34]:
x.C.idxmin()

datetime.date(2018, 5, 1)

3. Visualization

    - Visualize the minimum x value of each group with a bar chart.
    - Visualize x over time.
    - Visualize x over time by y value.

In [38]:
labels = df.groupby('y').min().index
labels

Index(['A', 'B', 'C'], dtype='object', name='y')

4. More Aggregation

    - What is the least frequent y value for 2018-04-30?
    - What is the most frequent y value for each day?