# Python Data Structures Warmup

### 13 Nov, 2019

1. **Copy the data below and save it as `bayes.json`**

    ```json
    {
        "Floor": 6,
        "Instructors": [
            {"name": "Ryan", "favoriteLanguages": ["python", "clojure"]},
            {"name": "Maggie", "favoriteLanguages": ["python", "R", "java"]},
            {"name": "David", "favoriteLanguages": ["python", "matlab"]},
            {"name": "Zach", "favoriteLanguages": ["python", "bash"]}
        ],
        "Location": "Blanco",
        "Students": [
            {"name": "Sally", "examGrades": [62, 85, 80]},
            {"name": "Jane", "examGrades": [88, 79, 67]},
            {"name": "Suzie", "examGrades": [94, 74, 95]},
            {"name": "Billy", "examGrades": [98, 96, 88]},
            {"name": "Ada", "examGrades": [77, 92, 98]},
            {"name": "John", "examGrades": [79, 76, 93]},
            {"name": "Thomas", "examGrades": [82, 64, 81]},
            {"name": "Marie", "examGrades": [93, 63, 90]},
            {"name": "Albert", "examGrades": [92, 62, 87]},
            {"name": "Richard", "examGrades": [69, 80, 94]},
            {"name": "Isaac", "examGrades": [92, 99, 93]},
            {"name": "Alan", "examGrades": [92, 62, 72]}
        ],
        "isActive": true
    }
    ```

2. **Do your work in a python script, jupyter notebook, or interactive python (or
   ipython) session.**

3. **Import the `json` module and use the `json.load` function to read the
   `bayes.json` file you created.**

In [1]:
import json
from pprint import pprint

In [2]:
with open('./bayes.json') as f:
    bayes = json.load(f)

In [3]:
pprint(bayes)

{'Floor': 6,
 'Instructors': [{'favoriteLanguages': ['python', 'clojure'], 'name': 'Ryan'},
                 {'favoriteLanguages': ['python', 'R', 'java'],
                  'name': 'Maggie'},
                 {'favoriteLanguages': ['python', 'matlab'], 'name': 'David'},
                 {'favoriteLanguages': ['python', 'bash'], 'name': 'Zach'}],
 'Location': 'Blanco',
 'Students': [{'examGrades': [62, 85, 80], 'name': 'Sally'},
              {'examGrades': [88, 79, 67], 'name': 'Jane'},
              {'examGrades': [94, 74, 95], 'name': 'Suzie'},
              {'examGrades': [98, 96, 88], 'name': 'Billy'},
              {'examGrades': [77, 92, 98], 'name': 'Ada'},
              {'examGrades': [79, 76, 93], 'name': 'John'},
              {'examGrades': [82, 64, 81], 'name': 'Thomas'},
              {'examGrades': [93, 63, 90], 'name': 'Marie'},
              {'examGrades': [92, 62, 87], 'name': 'Albert'},
              {'examGrades': [69, 80, 94], 'name': 'Richard'},
              {'examGrades': [92, 99, 93], 'name': 'Isaac'},
              {'examGrades': [92, 62, 72], 'name': 'Alan'}],
 'isActive': True}

In [4]:
pprint(bayes['Floor'])

6

In [5]:
pprint(bayes['Instructors'])

[{'favoriteLanguages': ['python', 'clojure'], 'name': 'Ryan'},
 {'favoriteLanguages': ['python', 'R', 'java'], 'name': 'Maggie'},
 {'favoriteLanguages': ['python', 'matlab'], 'name': 'David'},
 {'favoriteLanguages': ['python', 'bash'], 'name': 'Zach'}]

In [6]:
d = bayes

for k in d:
    t = (k, type(d[k]), k)
    pprint(t)

('Floor', <class 'int'>, 'Floor')
('Instructors', <class 'list'>, 'Instructors')
('Location', <class 'str'>, 'Location')
('Students', <class 'list'>, 'Students')
('isActive', <class 'bool'>, 'isActive')

4. **Write the code necessary to answer the following questions:**

- **Print out a message that gives the location of the class using the location and the floor properties.**

In [7]:
room = bayes['Location']
floor = bayes['Floor']

pprint(f'The class is located in room {room} on floor {floor}.')

'The class is located in room Blanco on floor 6.'

- **If the class is active, print a message that says so.**

In [8]:
is_it = 'is' if bayes['isActive'] else 'is not'

pprint(f'The class {is_it} currently active.')

'The class is currently active.'

- **Print out the number of students and number of instructors.**

In [9]:
li = bayes['Instructors']
ls = bayes['Students']
pprint(f'There are {len(ls)} students and {len(li)} instructors.')

'There are 12 students and 4 instructors.'

- **Print out the name of the instructor that has the most favorite languages.**

In [10]:
most_favs = 0
for i in li:
    s = len(i['favoriteLanguages'])
    if s > most_favs:
        most_favs = s
        n = i['name']
pprint(f'{n} has the most favorite languages, with {most_favs}.')

'Maggie has the most favorite languages, with 3.'

##### Zack's alternative:

In [11]:
for i in li:
    i['n_favs'] = len(i['favoriteLanguages'])

In [12]:
pprint(li)

[{'favoriteLanguages': ['python', 'clojure'], 'n_favs': 2, 'name': 'Ryan'},
 {'favoriteLanguages': ['python', 'R', 'java'], 'n_favs': 3, 'name': 'Maggie'},
 {'favoriteLanguages': ['python', 'matlab'], 'n_favs': 2, 'name': 'David'},
 {'favoriteLanguages': ['python', 'bash'], 'n_favs': 2, 'name': 'Zach'}]

In [13]:
max(li, key=lambda i: i['n_favs'])

{'name': 'Maggie', 'favoriteLanguages': ['python', 'R', 'java'], 'n_favs': 3}

- **Import pandas and create a dataframe from the student data. What do you notice?**

In [14]:
import pandas as pd

df_s = pd.DataFrame(bayes['Students'])

df_s

      examGrades     name
0   [62, 85, 80]    Sally
1   [88, 79, 67]     Jane
2   [94, 74, 95]    Suzie
3   [98, 96, 88]    Billy
4   [77, 92, 98]      Ada
5   [79, 76, 93]     John
6   [82, 64, 81]   Thomas
7   [93, 63, 90]    Marie
8   [92, 62, 87]   Albert
9   [69, 80, 94]  Richard
10  [92, 99, 93]    Isaac
11  [92, 62, 72]     Alan

***Observation:*** *Each student's grades are returned as a lists with in one single column.*

### Going Rogue

In [19]:
df_sk = df_s.copy()

for g in range(3):
    c = 'g'+str(g+1)
    df_sk[c] = df_sk.examGrades.apply(lambda x: x[g])
    
df_sk = df_sk.drop(columns='examGrades')

df_sk

       name  g1  g2  g3
0     Sally  62  85  80
1      Jane  88  79  67
2     Suzie  94  74  95
3     Billy  98  96  88
4       Ada  77  92  98
5      John  79  76  93
6    Thomas  82  64  81
7     Marie  93  63  90
8    Albert  92  62  87
9   Richard  69  80  94
10    Isaac  92  99  93
11     Alan  92  62  72

##### Zack's alternative:

In [18]:
grades = df_s.examGrades.apply(pd.Series)
df_sz = df_s.join(grades)
df_sz

      examGrades     name   0   1   2
0   [62, 85, 80]    Sally  62  85  80
1   [88, 79, 67]     Jane  88  79  67
2   [94, 74, 95]    Suzie  94  74  95
3   [98, 96, 88]    Billy  98  96  88
4   [77, 92, 98]      Ada  77  92  98
5   [79, 76, 93]     John  79  76  93
6   [82, 64, 81]   Thomas  82  64  81
7   [93, 63, 90]    Marie  93  63  90
8   [92, 62, 87]   Albert  92  62  87
9   [69, 80, 94]  Richard  69  80  94
10  [92, 99, 93]    Isaac  92  99  93
11  [92, 62, 72]     Alan  92  62  72